# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Studia UWr\Praktyczny wstęp do programowania\Listy\Praktyczny_wstep_do_programowania\Lista 8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
